<%= form_tag login_path do %>
  <label>Username:</label><br>
  <%= text_field_tag :'user[username]' %><br>
 
  <label>Password:</label><br>
  <%= text_field_tag :'user[password]' %><br>
 
  <%= submit_tag "Login" %>
<% end %>

<%= button_to "Or Create an Account", new_user_path, method: "get" %>