<h1>Welcome to Access Lunch!</h1> 

<h3>Quick reviewer!</h3>
  <%= form_for @review do |f|  %>
        <label>Rating</label><br/>
        <%= f.number_field :rating, min: 1, max: 10 %><br/>
        <label>Content</label><br/>
        <%=f.text_area :content %><br/>
        <%= f.collection_select :restaurant_id, @restaurants, :id, :name %>
        <%= f.submit %>
    <% end %>

<div class="cards">
<% @restaurants.each do |restaurant|%>
    <div class="card">
    <img src=<%=restaurant.image_url %> alt=<%= restaurant.name %>/><br/>
    <%= link_to restaurant.name, restaurant %>
    </div>
<% end%>
</div>