<%=link_to "Back to all Restaurants", restaurants_path%>

<div class="show">
<h1><%= @restaurant.name %></h1>
<%= image_tag @restaurant.image_url %>
<p><%= @restaurant.average_rating ? "â­ï¸ " * @restaurant.average_rating : "No reviews yet!" %></p>
<p><%= @restaurant.kind_of_food %></p>
<p><%= @restaurant.address %></p>

<iframe width="600" height="450" frameborder="0" style="border:0"
src="https://www.google.com/maps/embed/v1/place?q=<%= @restaurant.address %>&key=<%=ENV['GOOGLE_KEY']%>" allowfullscreen></iframe>

<%= form_for @review do |f| %>
    <%= f.label :rating %>
    <%= f.number_field :rating, min: 1, max: 10 %>
    <br/>
    <%= f.text_area :content %>
    <%= f.hidden_field :restaurant_id, :value => @restaurant.id %>
    <br/>
    <%= f.submit%>
<% end%>

<div class="reviews">
    <% @restaurant.reviews.each do |review|%>
    <div class="review">
    <%= review.user.username %>: <%= "â­ï¸ " * review.rating %>
    <p><%= review.content %></p>
    </div>
    <% end%>
</div>

</div>
