<div class="show">
    <h1><%= link_to @restaurant.name, @restaurant.url %></h1>
    <%= image_tag @restaurant.image_url %>
    <p><%= "⭐️ "* @restaurant.average_rating %></p>
    <p><%= @restaurant.kind_of_food %></p>
    <p><%= @restaurant.address %></p>

    <div class="reviews">
    <%= form_for @review do |f| %>
    <%= f.label :rating %>
    <%= f.number_field :rating, in: 1..10 %>
    <br/>
    <%= f.text_area :content %>
    <br/>
    <%= f.hidden_field :restaurant_id, :value => @restaurant.id %>
    <%= f.submit %>
    <% end%>

    <% @restaurant.reviews.each do |review| %>
    <div class="review">
        <%= review.user.username %>: <%= "⭐️ "*review.rating %>
        <br/>
        <%= review.content %>
    </div>
    <% end%>

</div>