<!DOCTYPE html>
<html>
  <head>
    <title>AccessLunches</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if !!@current_user %>
      <%= button_to "All Restaurants", restaurants_path, method: "get" %>
      <%= button_to "Logout", logout_path, method: "delete" %>
    <% end%>
    <% if flash[:errors]%>
      <ul>
      <% flash[:errors].each do |error| %>
        <li><%= error %></li>
      <% end%>
      </ul>
    <% end%>
    <%= yield %>
  </body>
</html>
